header {
    background: #1877f2;
    color: white;
    height: 6rem;

    display: flex;
    flex-direction: column;

}

header h1 {
    align-self: center;
}

header button {
    align-self: flex-end;
    margin-right: 1rem;
}